<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eggdevs.everythingatonce">

    <application
        android:allowBackup="true"
        android:icon="@drawable/avg"
        android:label="@string/app_name"
        android:roundIcon="@drawable/avg"
        android:supportsRtl="true"
        android:theme="@style/Theme.EverythingAtOnce">
        <activity android:name=".LocationActivity"></activity>
        <activity android:name=".UrlActivity" />
        <activity android:name=".CallActivity" />
        <activity android:name=".MessageActivity" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>